/*===============TOOLS===============*/
    /*  
        .25rem = 4px
        .5rem = 8px
        .75rem = 12px
        1rem = 16px
        1.5rem = 24px
        2rem = 32px
    */

/*===============VARIABLES===============*/
:root{
    /*===Heights=====*/
    --header-height: 3rem;

    /*===Font-size=====*/
    --big-header-size: 3rem;
    --second-header-size: 3rem;
    --text-size: 3rem;
    --header-link-size: 3rem;
    --icon-media-size: 3rem;
    --icon-nav-size: 3rem;

    /*===Font-family===*/
    --logo-font: ;
    --big-header-font: ;
    --second-header-font: ;
    --text-font: sans ms;
    --header-link-font: ;

    /*===Color===*/
    --hue: ;
    --hue-second: ;
    --hue-third: ;
    --big-header-color: ;
    --second-header-color: ;
    --text-color: ;
    --header-link-color: ;
    --icon-media-color: ;
    --icon-nav-color: ;
    --body-main-color: ;
    --body-second-color: ;
    --body-third-color: ;

    /*===Border===*/
    --border-small: 10px solid #000;
    --border-medium: 5px solid #000;
    --border-big: 2px solid #000;

    /*===Border-radius===*/
    --border-radius-small: 10px;
    --border-radius-medium: 5px;
    --border-radius-big: 2px;
}

/*===============BASIC CODE start===============*/
*{
margin: 0;
padding: 0;
}
body{
    font-family: comic sans ms;
}
h2{
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
}
h5{
    color: hsl(350, 50%, 88%);
    font-size: 1.5rem;
    margin: 10% auto;
    width: 80%;
    font-family: 'Quintessential', cursive;
    letter-spacing: 2px;
    word-spacing: 5px;
}

/*===============BASIC CODE end===============*/


/*===============BOBY start===============*/


/*===============BODY end===============*/

/*===============HEAEDER start===============*/
header{
    position: relative;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    background: url(jason-leung-Xaanw0s0pMk-unsplash.jpg);
    background-position: cover;
    background-size: 500px;
    z-index: 111;
    font-family: 'JMH-Cthulhumbus';
}
header img{
    width: 10rem;
}

.custom-shape-divider-bottom-1642303788 {
    position: absolute;
    bottom: -2vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1642303788 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 268px;
}

.custom-shape-divider-bottom-1642303788 .shape-fill {
    fill: #e45932;
}

/*===============HEADER end===============*/

/*===============LANDING start===============*/
.page1{
    position: relative;
    height: auto;
    background: linear-gradient(#e45932, #f3a93e);
    top: 0;
    z-index: 1;
}
.page1_1{
    padding-top: 10vh;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-bottom: 7rem;
}
.page1_1 h3{
    font-size: 2.5rem;
    color: #fff;
}
.page1_1 .grille{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    grid-gap: 10px;
}
.page1_1 .grille .block{
    width: 100%;
    height: 200px;
    background-color: black;
    border-radius: 3px;
}
.block1{
    animation: block1 20s 0s infinite ease-in-out;
    transition: .1s;
    background-position: center;
    background-size: cover;
}
.block2{
    animation: block2 20s 0s infinite ease-in-out;
    transition: .1s;
    background-position: center;
    background-size: cover;
}
.block3{
    animation: block3 20s 0s infinite ease-in-out;
    transition: .1s;
    background-position: center;
    background-size: cover;
}


@keyframes block1 {
    0%{
        background: url(1.jpg);
        background-size: cover;
    }
    50%{
        background: url(B.jpg);
        background-size: cover;
    }
    100%{
        background: url(3.jpg);
        background-size: cover;
    }
}
@keyframes block2 {
    0%{
        background: url(F.jpg);
        background-size: cover;
    }
    50%{
        background: url(C.jpg);
        background-size: cover;
    }
    100%{
        background: url(5.jpg);
        background-size: cover;
    }
}
@keyframes block3 {
    0%{
        background: url(E.jpg);
        background-size: cover;
    }
    50%{
        background: url(D.jpg);
        background-size: cover;
    }
    100%{
        background: url(4.jpg);
        background-size: cover;
    }
}



.page1_2{
    padding-top: 5vh;
    height: auto;
    width: 100%;
    padding-bottom: 10vh;
    margin-top: 40%;
}
.page1_2 h2{
    font-size: 2.5rem;
    text-align: center;
    cursor: default;
    margin: 2rem 0;
}
.page1_2 .mini_text{
    font: 1.35rem;
    width: 80%;
    margin: 10%;
    text-align: center;
    color: hsl(350, 50%, 88%);
    font-family: 'Quintessential', cursive;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.page1_2 ul{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.page1_2 ul li{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
    padding: 0px 10%;
    overflow: hidden;
}
.page1_2 ul li:not(:last-child){
    padding-bottom: 3rem;
}
.page1_2 .plan{
    width: 40%;
}
.page1_2 ul li .rond{
    position: relative;
    display: flex;
    justify-content: center;
}
.page1_2 ul li .rounder{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 100%;
    margin-top: .5rem;
    position: absolute;
    align-items: center;
}
.page1_2 ul li .line{
    width: 1px;
    height: 200%;
    background-color: red;
    position: absolute;
    margin-left: .5px;
    margin-bottom: 100px;
}
.page1_2 ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.page1_3{
    padding-top: 5vh;
    height: auto;
    width: 100%;
    padding-bottom: 10vh;
}
.page1_3 h2{
    font-size: 2.5rem;
    text-align: center;
    cursor: default;
    margin: 2rem 0;
}
.page1_3 form{
    width: 70%;
    margin: auto;
    line-height: 3.9rem;
}
.page1_3 form input{
    width: 100%;
    height: 2rem;
    border-radius: 4px;
    border: none;
    padding: 0px 15px;
    text-transform: capitalize;
    background-color: hsl(35, 88%, 70%);
}
.page1_3 form input:placeholder-shown{
    padding: 0px 15px
}
.page1_3 .submit_btn{
    width: 30%;
    margin: auto;
}
.page1_3 .contact{
    margin-top: 10vh;
    margin-left: 15%;
}
.page1_3 .contact ul{
    list-style-type: none;
    line-height: 2rem;
    font-size: 1.2rem;
}
.page1_3 .contact ul li{
    cursor: pointer;
}




.page1_4{
    padding-top: 5vh;
    height: auto;
    width: 100%;
    padding-bottom: 10vh;
}
.page1_4 h2{
    font-size: 2.5rem;
    text-align: center;
    cursor: default;
    margin: 2rem 0;
}
.page1_4 ul{
    width: 80%;
    height: auto;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.page1_4 ul li{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.page1_4 ul li:not(:last-child){
    margin-bottom: 3rem;
}
.page1_4 ul li img{
    height: 100px;
    width: 100px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.page1_4 ul li .text_info{
    margin-left: 5%;
    font-size: 1.2rem;
}
.page1_4 ul li .text_info ol{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}
.page1_4 ul li .text_info ol li i{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.download{
    padding: 10px 25px;
    border-radius: 4px;
    background-color: hsl(35, 88%, 70%);
    cursor: pointer;
    position: absolute;
    margin-left: 10%;
}
.download a{
    color: #000;
    text-decoration: none;
}
.download:hover{
    background-color: hsl(35, 88%, 50%);
}


/*===============LANDING end===============*/

/*===============FOOTER sart===============*/


/*===============FOOTER end===============*/
